body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #c1ea83;
}

.container-fluid{
	margin: 0;
	padding: 0;
}

.navbar{
	border-radius: 0px;
	background-color: rgba(0,0,0,0.8);
}

.navbar-brand{
  font-size: 35px;
  color: white;
  padding-left: 25px;
}

.navbar-brand:hover{
	color: white;
}

.nav{
	margin: 0;
	padding: 0;
}

.navbar-nav{
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
	border: 2px solid #3937c9;
	margin-right: 25px;
}

.icon-bar{
	background-color: white;
}


.main-title{
  margin-bottom: 15px;
  text-align: center;
  color: #7032ff;
  font-size: 30px;
  font-family: "Comic Sans", sans-seri, cursive;
  font-weight: bold;
}

li{
	box-sizing: border-box;
	width: 100%;
}

.menu-item{
	margin: 0;
	width: 100%;
	background-color: #22a3b3;
	border-bottom: 1px solid black;
	color: black;
}

.menu-item:hover{
	background-color: rgba(0,0,0,0.9);
	color: rgba(0,0,0,0.4);
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #0763e5;
}

.row{
	margin: 20px;
}

.content-box{
	margin: 20px;
	width: auto;
	height: auto;
	color: black;
	background-color: rgba(214, 159,159,1);
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 20px;
}

.item-name{
	text-align: center;
	margin-top:3px;
	font-size: 23px;
	font-weight: bold;
}

#top{

}

.student {
  color: #7032ff;
  font-size: 1em;
  font-family: "Comic Sans", sans-seri, cursive;
  font-weight: bold;
}	